// Couleurs
$main-background-color: #0D0E09;
$secondary-background-color: #000000;

// Polices
$main-font-color: #ffffff;
$secondary-font-color: #c4c4c4;
$third-font-color: #F8F184;

// Buttons degradées 
$button-gradient-1-40 : linear-gradient(90deg, rgba(237,222,191,1) 0%, rgba(25,88,125,1) 100%);
$button-gradient-1-100 : linear-gradient(90deg, rgba(237,222,191,0.3897934173669467) 0%, rgba(25,88,125,0.40379901960784315) 100%);
$button-gradient-2-40 : linear-gradient(90deg, rgba(237,222,191,0.4009978991596639) 0%, rgba(137,0,8,0.39539565826330536) 100%);
$button-gradient-2-100 : linear-gradient(90deg, rgba(237,222,191,1) 0%, rgba(137,0,8,1) 100%);

// Typographies
$rajdhani: 'Rajdhani', sans-serif;
$space-grotesk: 'Space Grotesk', sans-serif;

// Autres
$body-line: #BCBBBD;
$icon-hover: #ffff00;
